* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-100 {
    text-align: center;
    width: 100%;
    margin-top: 6px;
    overflow-x: auto;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    font-weight: unset;
}

th:hover {
    background-color: #45a049;
}

.tasks-list {
    border-spacing: 0px;
    text-align: left;
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 100%;
    margin-top: 6px;
}

table {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    margin-top: 40px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .col-100 {
        width: 100%;
        margin-top: 0;
    }
    .container {
        margin-left: 2px;
        margin-right: 2px;
    }
}

select {
    min-width: 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    background-color: #FFc107;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover {
    background-color: #edb100;
}

.del {
    background-color: #dc3545;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

.del:hover {
    background-color: #bc1415;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}