<h1>Unnassigned Tasks</h1>
<div class='container'>
    <div class='row'>
        <div class='col-100'>
            <table class='tasks-list'>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Assign To</th>
                    <th>Delete</th>
                </tr>
                <tr *ngFor='let task of tasks'>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>
                        <button (click)="onAssign(task)" class="assign" value="Assign ">Assign</button>
                    </td>
                    <td>
                        <button (click)="onDelete(task) " class="del">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>