td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    font-weight: unset;
}
.modal-body{
    overflow-x: auto;
}

th:hover {
    background-color: #45a049;
}

.tasks-list {
    border-spacing: 0px;
    text-align: left;
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 100%;
    margin-top: 6px;
    overflow-x: scroll;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
